* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-appearance: none
}

html,
body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth
}

h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
	font-weight: normal
}

p,
ol,
ul,
li {
	margin: 0;
	padding: 0
}

a img {
	border: none
}

input,
textarea {
	-webkit-appearance: none !important;
	border-radius: 0
}

input[type="checkbox"] {
	-webkit-appearance: checkbox !important
}

input[type="radio"] {
	-webkit-appearance: radio !important
}

button {
	-webkit-appearance: none !important;
	padding: 0
}

li {
	margin-left: 18px
}

ol {
	list-style: decimal
}

ul {
	list-style: disc
}

html {
	height: 100%
}

body {
	font-family: "Figtree", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #575757;
	margin-top: 0;
	height: 100%
}

h1 {
	font-family: "Figtree", sans-serif;
	font-weight: 800;
	font-size: 36px;
	color: #118ACB;
	margin-bottom: 20px
}

h2 {
	font-family: "Figtree", sans-serif;
	font-weight: 600;
	font-size: 23px;
	color: #004282;
	margin-bottom: 20px
}

a,
a:visited {
	color: #575757
}

a:hover {
	color: #00B8A6
}

.inner {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 30px;
	position: relative
}

@media screen and (max-width: 767px) {
	.inner {
		padding: 0 20px
	}
}

.flex-between {
	display: flex;
	justify-content: space-between
}

header {
	position: relative;
	height: 650px
}

header .flex-between {
	align-items: center
}

header #header {
	background: rgba(0, 66, 130, 0.75);
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	z-index: 100
}

@media screen and (max-width: 500px) {
	header #header #logo img {
		width: 100%;
		max-width: 200px;
		height: auto
	}
}

header #banner {
	width: 100%;
	height: 650px;
	position: absolute;
	top: 0;
	overflow: hidden;
	z-index: 10
}

header #banner img {
	width: 100%;
	height: 100%;
	object-fit: cover
}

@media screen and (max-width: 1050px) {
	header .flex-between {
		flex-wrap: wrap;
		justify-content: center
	}
}

@media screen and (max-width: 900px) {
	header {
		height: 400px;
		background: rgba(0, 66, 130, 0);
		background: #004282
	}

	header #banner {
		position: relative
	}

	header #banner img {
		height: 400px
	}
}

.menu ul {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0
}

.menu ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 20px
}

.menu ul a,
.menu ul a:visited {
	font-family: "Figtree", sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	transition: all .3s
}

.menu ul a.button,
.menu ul a:visited.button {
	font-family: "Figtree", sans-serif;
	font-weight: 800;
	font-size: 18px
}

.menu ul a:hover {
	color: #00B8A6
}

@media screen and (max-width: 780px) {
	.menu ul {
		justify-content: center
	}

	.menu ul li {
		display: none;
		margin-left: 0
	}

	.menu ul li:last-child {
		display: block
	}
}

@media screen and (max-width: 1050px) {
	.menu {
		margin-top: 20px;
		width: 100%;
		text-align: center
	}

	.menu ul {
		justify-content: center
	}
}

#hamburger {
	fill: #fff;
	width: 38px;
	height: 38px;
	margin-right: 20px;
	display: none;
	cursor: pointer;
	transition: all .3s
}

#hamburger:hover {
	fill: #00B8A6
}

@media screen and (max-width: 780px) {
	#hamburger {
		display: block
	}
}

a.button,
a.button:visited {
	font-family: "Figtree", sans-serif;
	font-weight: 800;
	font-size: 18px;
	text-decoration: none;
	display: inline-block;
	color: #fff;
	background: #00B8A6;
	transition: all .3s;
	padding: 10px 40px;
	border-radius: 20px
}

a.button:hover {
	background: #118ACB;
	color: #fff !important
}

#main-body {
	padding-top: 50px;
	padding-bottom: 70px;
	border-bottom: 1px solid #D1D1D1
}

#main-body p {
	margin-bottom: 20px;
	line-height: 1.5em
}

#main-body p:last-of-type {
	margin-bottom: 0
}

#main-body #content {
	width: 50%;
	padding-right: 50px
}

#main-body #donate {
	width: 50%;
	padding-left: 50px;
	position: relative;
	margin-top: -300px;
	z-index: 400
}

#main-body #donate .form {
	background: #fff;
	padding: 40px;
	border-radius: 40px;
	box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1)
}

@media screen and (max-width: 767px) {
	#main-body #donate .form {
		padding: 20px
	}
}

@media screen and (max-width: 1050px) {
	#main-body #donate {
		padding-left: 0
	}
}

@media screen and (max-width: 900px) {
	#main-body.flex-between {
		flex-wrap: wrap
	}

	#main-body #content {
		width: 100%;
		padding-right: 0;
		order: 2;
		padding-top: 50px
	}

	#main-body #donate {
		width: 100%;
		padding-left: 0;
		margin-top: -0px;
		order: 1
	}
}

#features {
	padding-top: 50px;
	padding-bottom: 70px
}

#features h2 {
	color: #00B8A6;
	font-family: "Figtree", sans-serif;
	font-weight: 800;
	font-size: 30px;
	text-align: center
}

#features #columns {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 30px 80px
}

@media screen and (max-width: 1000px) {
	#features #columns {
		gap: 30px 50px
	}
}

@media screen and (max-width: 800px) {
	#features #columns {
		grid-template-columns: 1fr
	}
}

#features .column {
	font-size: 16px;
	line-height: 1.4em
}

#features .column h3 {
	font-family: "Figtree", sans-serif;
	font-weight: 800;
	font-size: 20px;
	color: #118ACB;
	margin-bottom: 8px
}

#features .column a,
#features .column a:visited {
	font-family: "Figtree", sans-serif;
	font-weight: 800;
	text-decoration: none
}

footer {
	position: relative;
	background: #004282;
	padding-top: 80px;
	padding-bottom: 30px
}

footer #cta {
	text-align: center;
	font-family: "Figtree", sans-serif;
	font-weight: 800;
	font-size: 36px;
	color: #fff;
	padding-bottom: 150px;
	position: relative;
	z-index: 200
}

footer #cta p {
	margin-bottom: 20px
}

@media screen and (max-width: 750px) {
	footer #cta {
		padding-bottom: 80px;
		padding-left: 20px;
		padding-right: 20px;
		font-family: "Figtree", sans-serif;
		font-weight: 800;
		font-size: 26px
	}
}

footer #footer-bottom {
	position: relative;
	z-index: 200
}

@media screen and (max-width: 950px) {
	footer #footer-bottom .flex-between {
		flex-wrap: wrap;
		justify-content: center
	}
}

footer .logo {
	position: relative;
	z-index: 200
}

@media screen and (max-width: 500px) {
	footer .logo {
		display: none
	}
}

footer #footer-menu {
	position: relative;
	z-index: 200
}

footer #footer-menu .wrapper {
	display: flex;
	align-items: center
}

@media screen and (max-width: 950px) {
	footer #footer-menu .wrapper {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center
	}
}

footer #footer-menu .right {
	padding-left: 30px
}

@media screen and (max-width: 500px) {
	footer #footer-menu .right {
		padding-left: 0
	}
}

footer #footer-menu .menu {
	padding-bottom: 5px
}

footer #footer-menu .menu li a {
	font-family: "Figtree", sans-serif;
	font-weight: 400;
	font-size: 14px
}

@media screen and (max-width: 750px) {
	footer #footer-menu .menu ul {
		flex-wrap: wrap
	}

	footer #footer-menu .menu ul li {
		display: inline-block !important;
		margin-left: 0;
		margin: 0 10px
	}
}

footer #footer-menu .copyright {
	font-family: "Figtree", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #fff
}

footer #footer-menu .copyright ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end
}

footer #footer-menu .copyright ul li {
	margin: 0;
	padding: 0;
	margin-left: 20px;
	list-style: none
}

footer #footer-menu .copyright ul a,
footer #footer-menu .copyright ul a:visited {
	text-decoration: none;
	color: #fff;
	transition: all .3s
}

footer #footer-menu .copyright ul a:hover {
	color: #00B8A6
}

@media screen and (max-width: 950px) {
	footer #footer-menu .copyright ul {
		justify-content: center;
		margin-bottom: 15px
	}
}

footer #footer-bg {
	position: absolute;
	top: 0;
	z-index: 100;
	overflow: hidden;
	height: 100%
}

footer #footer-bg img {
	width: 100%;
	height: 100%;
	object-fit: cover
}

footer #footer-bg:after {
	background: rgba(0, 66, 130, 0.75);
	width: 100%;
	height: 100%;
	display: block;
	content: '';
	position: absolute;
	z-index: 200;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0
}

@media screen and (max-width: 750px) {
	footer {
		padding-top: 30px
	}
}

#demo-wrapper {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	text-align: center
}

#demo-wrapper h2 {
	font-family: "Figtree", sans-serif;
	font-weight: 800;
	font-size: 30px;
	color: #118ACB;
	margin-bottom: 0
}

#demo-wrapper h3 {
	font-family: "Figtree", sans-serif;
	font-weight: 800;
	font-size: 30px;
	color: #00B8A6
}

#demo-wrapper h4 {
	font-family: "Figtree", sans-serif;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 5px
}

#demo-wrapper #amount .button {
	text-align: center;
	margin-top: 20px
}

#demo-wrapper #amount button {
	font-family: "Figtree", sans-serif;
	font-weight: 800;
	font-size: 20px;
	transition: all .3s;
	background: #00B8A6;
	border: 0;
	border-radius: 50px;
	cursor: pointer;
	padding: 10px 70px;
	color: #fff
}

#demo-wrapper #amount button:hover {
	background: #004282
}

#demo-wrapper #amount .frequency {
	padding-top: 40px
}

#demo-wrapper #amount .frequency-options {
	padding-top: 15px;
	padding-bottom: 40px;
	border-bottom: 1px solid #D1D1D1;
	display: flex;
	justify-content: center;
	align-items: center
}

#demo-wrapper #amount .frequency-options label {
	flex-grow: 1;
	flex-basis: 0;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #D1D1D1;
	background-color: #fff;
	cursor: pointer;
	position: relative;
	color: #999;
	font-family: "Figtree", sans-serif;
	font-weight: 800;
	font-size: 20px;
	transition: all .3s
}

#demo-wrapper #amount .frequency-options label:hover {
	background: #004282;
	border: 1px solid #004282;
	color: #fff
}

#demo-wrapper #amount .frequency-options .choice {
	width: 100%;
	max-width: 150px;
	position: relative
}

#demo-wrapper #amount .frequency-options .choice:first-child label {
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px
}

#demo-wrapper #amount .frequency-options .choice:last-child label {
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px
}

#demo-wrapper #amount .frequency-options input[type="radio"] {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0
}

#demo-wrapper #amount .frequency-options input[type="radio"]:checked+label {
	background: #118ACB;
	border: 1px solid #118ACB;
	color: #fff;
	position: relative
}

#demo-wrapper #amount .amount {
	padding-top: 40px
}

#demo-wrapper #amount .amount .amounts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 15px
}

#demo-wrapper #amount .amount .choice {
	width: auto;
	padding: 5px;
	position: relative
}

@media screen and (max-width: 767px) {
	#demo-wrapper #amount .amount .choice {
		width: 50%
	}
}

#demo-wrapper #amount .amount label {
	min-height: 50px;
	padding: 10px 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #D1D1D1;
	border-radius: 50px;
	background-color: #fff;
	cursor: pointer;
	position: relative;
	color: #999;
	transition: all .3s
}

#demo-wrapper #amount .amount label span {
	font-family: "Figtree", sans-serif;
	font-weight: 800;
	font-size: 20px
}

#demo-wrapper #amount .amount label:hover {
	background: #004282;
	border: 1px solid #004282;
	color: #fff
}

#demo-wrapper #amount .amount input[type="radio"] {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0
}

#demo-wrapper #amount .amount input[type="radio"]:checked+label {
	background: #118ACB;
	border: 1px solid #118ACB;
	color: #fff
}

#demo-wrapper #amount .amounts .choice.other {
	width: 100%;
	max-width: 300px;
	margin-top: 20px
}

#demo-wrapper #amount .amounts .choice.other label {
	color: #999;
	font-family: "Figtree", sans-serif;
	font-weight: 600;
	font-size: 20px
}

#demo-wrapper #amount .amounts .choice.other label span {
	font-family: "Figtree", sans-serif;
	font-weight: 600;
	font-size: 20px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	color: #999
}

#demo-wrapper #amount .amounts .choice.other label input {
	width: 100%;
	border: 0;
	background: transparent;
	border-radius: 0;
	outline: 0;
	margin-left: 3px;
	font-family: "Figtree", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #999;
	height: auto !important
}

#demo-wrapper #amount .amounts .choice.other label input:focus {
	color: #fff
}

#demo-wrapper #amount .amounts .choice.other label input:hover {
	color: #fff
}

#demo-wrapper #amount .amounts .choice.other label input::placeholder {
	opacity: 1;
	color: #999
}

#demo-wrapper #amount .amounts .choice.other label:hover {
	color: #fff
}

#demo-wrapper #amount .amounts .choice.other label:hover input::placeholder {
	opacity: 1;
	color: #fff
}

#demo-wrapper #amount .amounts .choice.other input[type="radio"]:checked+label input {
	color: #fff !important
}

#demo-wrapper #amount .amounts .choice.other input[type="radio"]:checked::placeholder {
	opacity: 1;
	color: #fff !important
}

#demo-wrapper #amount .descriptions {
	position: relative;
	margin-bottom: 40px;
	border-bottom: 1px solid #D1D1D1
}

#demo-wrapper #amount .descriptions .text {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px
}

#demo-wrapper #amount .descriptions .text span.value {
	padding-right: 3px;
	font-family: "Figtree", sans-serif;
	font-weight: 800
}

#demo-wrapper #sf-form-wrapper {
	width: 100% !important;
	max-width: 600px !important;
	margin: 0 auto
}

#demo-wrapper #donationform {
	width: 100% !important;
	margin: 0 auto;
	position: relative;
	z-index: 10
}

#demo-wrapper #iframe-loading-wrapper {
	z-index: 20;
	background-color: #ffffff;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0
}

#demo-wrapper #iframe-loading {
	width: 150px;
	height: 150px;
	margin: 0 auto
}

#demo-wrapper .error {
	font-weight: bold;
	color: #004282;
	font-size: 12px
}

#demo-wrapper #your-details {
	background: #fff;
	text-align: left !important
}

#demo-wrapper #your-details h4 {
	width: 100%;
	display: block;
	text-align: center
}

#demo-wrapper #your-details .donor {
	width: 100%
}

#demo-wrapper #your-details .donor-options {
	padding-top: 15px;
	padding-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center
}

#demo-wrapper #your-details .donor-options label {
	flex-grow: 1;
	flex-basis: 0;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #D1D1D1;
	background-color: #fff;
	cursor: pointer;
	position: relative;
	color: #999;
	font-family: "Figtree", sans-serif;
	font-weight: 800;
	font-size: 18px;
	transition: all .3s
}

#demo-wrapper #your-details .donor-options label:hover {
	background: #004282;
	border: 1px solid #004282;
	color: #fff
}

@media screen and (max-width: 767px) {
	#demo-wrapper #your-details .donor-options label {
		font-family: "Figtree", sans-serif;
		font-weight: 800;
		font-size: 16px
	}
}

#demo-wrapper #your-details .donor-options .choice {
	width: 50%;
	position: relative
}

#demo-wrapper #your-details .donor-options .choice:first-child label {
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px
}

#demo-wrapper #your-details .donor-options .choice:last-child label {
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px
}

#demo-wrapper #your-details .donor-options input[type="radio"] {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0
}

#demo-wrapper #your-details .donor-options input[type="radio"]:checked+label {
	background: #118ACB;
	border: 1px solid #118ACB;
	color: #fff;
	position: relative
}

#demo-wrapper #your-details .fields {
	display: flex;
	flex-wrap: wrap
}

#demo-wrapper #your-details .fields .field {
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px
}

#demo-wrapper #your-details .fields .field label {
	display: block;
	color: #999;
	font-family: "Figtree", sans-serif;
	font-weight: 600;
	font-size: 16px;
	padding-bottom: 5px
}

#demo-wrapper #your-details .fields .field label span {
	font-family: "Figtree", sans-serif;
	font-weight: 400;
	font-size: 12px
}

@media screen and (max-width: 550px) {
	#demo-wrapper #your-details .fields .field label span {
		display: block
	}
}

#demo-wrapper #your-details .fields .field.half {
	width: 50%
}

@media screen and (max-width: 767px) {
	#demo-wrapper #your-details .fields .field.half {
		width: 100%
	}
}

#demo-wrapper #your-details .fields .field.quarter {
	width: 25%
}

@media screen and (max-width: 767px) {
	#demo-wrapper #your-details .fields .field.quarter {
		width: 100%
	}
}

#demo-wrapper #your-details .fields .field.required label {
	position: relative
}

#demo-wrapper #your-details .fields .field.required label:after {
	content: '*';
	color: #00B8A6;
	font-size: 14px;
	top: 0px;
	padding-left: 4px;
	position: absolute
}

#demo-wrapper #your-details input {
	width: 100%;
	padding: 10px;
	border: 1px solid #D1D1D1;
	border-radius: 50px;
	font-family: "Figtree", sans-serif;
	font-weight: 400;
	font-size: 16px;
	outline: 0;
	height: auto !important;
	color: #000000 !important
}

#demo-wrapper #your-details input:focus {
	border: 1px solid #00B8A6
}

#demo-wrapper #your-details input.has-error {
	border-color: #004282
}

@media screen and (max-width: 600px) {
	#demo-wrapper #your-details input {
		-webkit-appearance: none;
		font-size: 16px
	}
}

#demo-wrapper #your-details select {
	width: 100%;
	padding: 10px;
	border: 1px solid #D1D1D1;
	border-radius: 50px;
	font-family: "Figtree", sans-serif;
	font-weight: 400;
	font-size: 16px;
	outline: 0;
	height: auto !important;
	background: #fff;
	color: #000000 !important;
	background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
	background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	background-repeat: no-repeat
}

#demo-wrapper #your-details .button {
	text-align: center;
	margin-top: 30px
}

#demo-wrapper #your-details button {
	font-family: "Figtree", sans-serif;
	font-weight: 800;
	font-size: 20px;
	transition: all .3s;
	background: #00B8A6;
	border: 0;
	border-radius: 50px;
	cursor: pointer;
	padding: 10px 70px;
	color: #fff
}

#demo-wrapper #your-details button:hover {
	background: #004282
}

#demo-wrapper .stage-divider {
	width: 100%;
	height: 1px;
	background: #D1D1D1;
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 18px;
	z-index: 0
}

#demo-wrapper #stages {
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	background: #D1EAF8;
	color: #fff;
	border-radius: 50px;
	position: relative;
	z-index: 100
}

#demo-wrapper #stages button {
	margin: 0
}

#demo-wrapper #stages .stage {
	width: 33.33%;
	text-align: center;
	color: #fff;
	padding: 10px;
	font-family: "Figtree", sans-serif;
	font-weight: 400;
	font-size: 14px;
	background: none;
	border: none;
	z-index: 100
}

#demo-wrapper #stages .stage.active {
	background: #118ACB !important;
	color: #fff;
	font-family: "Figtree", sans-serif;
	font-weight: 800;
	font-size: 14px;
	position: relative
}

#demo-wrapper #stages .stage.active:first-child {
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px
}

#demo-wrapper #stages .stage.active:last-child {
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px
}

#demo-wrapper #stages .stage.stage1 {
	border-right: 2px solid #fff;
	z-index: 100
}

#demo-wrapper #stages .stage.stage2 {
	z-index: 100
}

#demo-wrapper #stages .stage.stage3 {
	border-left: 2px solid #fff;
	z-index: 100
}

#demo-wrapper #stages .stage.stage3.active:after {
	display: none
}

#demo-wrapper .block-wrapper {
	position: relative
}

#demo-wrapper .enter {
	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	transition-duration: 300ms
}

#demo-wrapper .enter-start {
	opacity: 0
}

#demo-wrapper .enter-end {
	opacity: 100
}

#demo-wrapper .leave {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	transition-duration: 300ms
}

#demo-wrapper .leave-start {
	opacity: 100
}

#demo-wrapper .leave-end {
	opacity: 0
}

@keyframes ldio-dfenqtjt94v {
	0% {
		opacity: 1;
		backface-visibility: hidden;
		transform: translateZ(0) scale(1.5, 1.5)
	}

	100% {
		opacity: 0;
		backface-visibility: hidden;
		transform: translateZ(0) scale(1, 1)
	}
}

#demo-wrapper .ldio-dfenqtjt94v div>div {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #004282;
	animation: ldio-dfenqtjt94v 1s linear infinite
}

#demo-wrapper .ldio-dfenqtjt94v div:nth-child(1)>div {
	left: 84px;
	top: 48px;
	animation-delay: -0.875s
}

#demo-wrapper .ldio-dfenqtjt94v>div:nth-child(1) {
	transform: rotate(0deg);
	transform-origin: 96px 60px
}

#demo-wrapper .ldio-dfenqtjt94v div:nth-child(2)>div {
	left: 73px;
	top: 73px;
	animation-delay: -0.75s
}

#demo-wrapper .ldio-dfenqtjt94v>div:nth-child(2) {
	transform: rotate(45deg);
	transform-origin: 85px 85px
}

#demo-wrapper .ldio-dfenqtjt94v div:nth-child(3)>div {
	left: 48px;
	top: 84px;
	animation-delay: -0.625s
}

#demo-wrapper .ldio-dfenqtjt94v>div:nth-child(3) {
	transform: rotate(90deg);
	transform-origin: 60px 96px
}

#demo-wrapper .ldio-dfenqtjt94v div:nth-child(4)>div {
	left: 23px;
	top: 73px;
	animation-delay: -0.5s
}

#demo-wrapper .ldio-dfenqtjt94v>div:nth-child(4) {
	transform: rotate(135deg);
	transform-origin: 35px 85px
}

#demo-wrapper .ldio-dfenqtjt94v div:nth-child(5)>div {
	left: 12px;
	top: 48px;
	animation-delay: -0.375s
}

#demo-wrapper .ldio-dfenqtjt94v>div:nth-child(5) {
	transform: rotate(180deg);
	transform-origin: 24px 60px
}

#demo-wrapper .ldio-dfenqtjt94v div:nth-child(6)>div {
	left: 23px;
	top: 23px;
	animation-delay: -0.25s
}

#demo-wrapper .ldio-dfenqtjt94v>div:nth-child(6) {
	transform: rotate(225deg);
	transform-origin: 35px 35px
}

#demo-wrapper .ldio-dfenqtjt94v div:nth-child(7)>div {
	left: 48px;
	top: 12px;
	animation-delay: -0.125s
}

#demo-wrapper .ldio-dfenqtjt94v>div:nth-child(7) {
	transform: rotate(270deg);
	transform-origin: 60px 24px
}

#demo-wrapper .ldio-dfenqtjt94v div:nth-child(8)>div {
	left: 73px;
	top: 23px;
	animation-delay: 0s
}

#demo-wrapper .ldio-dfenqtjt94v>div:nth-child(8) {
	transform: rotate(315deg);
	transform-origin: 85px 35px
}

#demo-wrapper .loadingio-spinner-spin-e8cgqud3766 {
	width: 120px;
	height: 120px;
	display: inline-block;
	overflow: hidden;
	background: none
}

#demo-wrapper .ldio-dfenqtjt94v {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0
}

#demo-wrapper .ldio-dfenqtjt94v div {
	box-sizing: content-box
}

.event_list {
	font-size: 0;
}

.card-panel {
	text-align: center;
}

.event_card {
	display: inline-block;
	vertical-align: top;
	width: calc(25.33%);
	box-sizing: border-box;
	margin-right: 3%;
	margin-bottom: 3%;
	height: 350px;
}

.event_card img {
	border-radius: 4%;
	width: 100%;
	height: 190px;
}

.card-body {
	text-align: left;
}

.card-title {
	height: 40px;
}